@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins" sans-serif;
}
body {
  background: hsl(0, 0%, 98%);
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  display: none;
}
.nav-links {
  flex: 1;
  text-align: left;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 8px 15px;
  font-weight: bold;
  position: relative;
}
.nav-links ul li a {
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  font-size: 16px;
}
.nav-links ul li a:hover {
  color: hsl(0, 0%, 8%);
}
.links {
  flex: 1;
  text-align: right;
}
.links ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 8px 15px;
  font-weight: bold;
  position: relative;
}
.links ul li a {
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  font-size: 16px;
}
.links ul li a:hover {
  color: hsl(0, 0%, 8%);
}
.logo {
  padding-top: 8px;
  margin-right: 20px;
}
button {
  display: inline-block;
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 13px;
  background: transparent;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin-left: 20px;
}
button:hover {
  color: hsl(0, 0%, 8%);
  transition: 1s;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
}
.content .textbox {
  position: relative;
  max-width: 600px;
}
.content .textbox h1 {
  font-size: 80px;
  line-height: 1em;
  font-weight: 600;
}
.content .textbox h2 {
  display: none;
}
.content .textbox p {
  color: hsl(0, 0%, 41%);
  font-size: 20px;
  margin: 30px 0;
}
.content .textbox a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 34px;
  background: hsl(0, 0%, 8%);
  color: #fff;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .textbox a:hover {
  border: 1px solid black;
  background: transparent;
  transition: 1s;
  color: hsl(0, 0%, 8%);
  font-weight: bold;
}
.content .imgbox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  margin-top: 50px;
}
.content .imgbox img {
  max-width: 350px;
}
.all-logos {
  position: absolute;
  display: flex;
  left: 16%;
  bottom: -50px;
  transform: translateX(-50%);
}
.each-logo {
  padding: 10px 12px;
  margin-top: 70px;
}
.each-logo img {
  width: 80px;
}
@media (max-width: 990px) {
  header {
    padding: 20px;
  }
  header .logo {
    max-width: 20px;
  }
  header ul {
    display: none;
  }
  section {
    padding: 20px 20px 120px;
    flex-direction: column;
  }
  .hero {
    display: flex;
    width: 100%;
    margin-top: 100px;
    background-position: cover;
  }
  .hero img {
    max-width: 450px;
  }
  .content .imgbox {
    display: none;
  }
  .content {
    display: flex;
    position: absolute;
    margin-top: 70%;
    max-width: 100%;
  }
  .content .textbox h1 {
    display: none;
  }
  .content .textbox h2 {
    font-size: 40px;
    display: block;
    text-align: center;
    margin-top: 30px;
  }
  .content .textbox p {
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
  }
  .content a {
    align-items: center;
  }

  .all-logos {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-bottom: -50px;
  }
}
